* {
  font-family: 'roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}
header {
  background-color: #0d6efd;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  position: relative;
}
.scroll-down {
  position: absolute;
  bottom: 30px;
  font-size: 4rem;
  color: white;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}
a {
  text-decoration: none;
}
header a {
  color: white;
}
nav {
  margin-top: 30px;
}
nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
nav a:hover {
  text-decoration: underline;
}
section {
  padding: 60px 20px;
}
.project {
  margin-bottom: 30px;
  padding: 20px;
  background: white;
  border-left: 4px solid #0d6efd;
  border-radius: 4px;
  color: black;
}
.project h4 {
  display: inline-block;
}
.project:hover {
  transform: scale(1.001);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s ease-out;
}
footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.skills div {
  margin-top: 3rem;
}
.education-heading {
  margin-top: 5rem;
}
.education-block {
  max-width: 800px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left;
  background: #fff;
}
.education-block span {
  color: #74808a;
  float: right;
}
.education-block ul {
  color: #74808a;
}
.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #374054;
  margin-bottom: 20px;
}
.education-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0;
}
svg {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.github-icon {
  color: #333;
}
